pydantic
langchain
langchain-community
sentence-transformers
chromadb
fastapi
uvicorn
pydantic
passlib
python-jose
sqlalchemy
python-multipart
passlib[argon2]
pytest
mlflow
psycopg2-binary
langchain-huggingface
langchain_google_genai